{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Describe a tu Establecimiento</h1>
<div class="row gx-2 gx-lg-2 align-items-center my-2"></div>
    
<form action="" enctype="multipart/form-data" method="POST"> {% csrf_token %}
    <div class="d-flex justify-content-left">
        <table> 
            {{form.as_table}}
        </table>
    </div>
    <a href="{% url 'EstablecimientosLista' %}" class="btn btn btn-light" role="button" aria-pressed="true">Cancelar</a>
    <button type="submit" class="btn btn-dark">Guardar</button>
</form>

{% endblock %}