{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Detalle de Animal</h1>
<div class="row gx-2 gx-lg-2 align-items-center my-2"></div>

<div class="row gx-4 gx-lg-5 align-items-left">
    <div class="col-md-6"><img class="card-img-top-detail mb-5 mb-md-0" src="{{animal.imagen.url}}" alt="..." /></div>
    <div class="col-md-6">
        <span class="badge bg-primary">{{animal.especie}}</span>
        <h1 class="display-6 fw-bolder">{{animal.nombre}}</h1>
        <div class="fs-5 mb-3">
            <span class="span-detalle-label">Tamaño:</span>
            <span class="span-detalle">{{animal.tamaño}}</span>
            </br>
            {% if animal.apto_niños %}
            <span class="span-detalle-label">Apto para niños</span>
            {% else %}
            <span class="span-detalle-label">; No Apto para niños</span>
            {% endif %}
        </div>
        <p class="lead">{{animal.descripcion}}</p>
    </div>
    <div class="container-fluid">
        <a href="{% url 'AnimalesEditar' animal.id %}" class="btn btn-dark active" role="button" aria-pressed="true">Editar</a>
        <a href="{% url 'AnimalesBorrar' animal.id %}" class="btn btn-outline-success" role="button" aria-pressed="true">Eliminar</a>
    </div>
    
</div>

{% endblock %}