{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">Portal de Animales </h1>
<a href="{% url 'AnimalesCrear' %}" class="btn btn-dark active float-right" role="button" aria-pressed="true">Nueva Entrada</a>

<nav class="navbar navbar-light  float-end">
    <div class="container-fluid">
      <form action="/Mascoteros/resultadoAnimales/" class="d-flex" method="GET">
        <input type="text" name="nombre" class="form-control me-2" placeholder="Buscar por Nombre">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
</nav>

<div class="row gx-2 gx-lg-2 align-items-center my-2"></div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
    {% for animal in object_list %}
        <div class="col mb-5">
            <a href="{% url 'AnimalesDetalle' animal.id %}">
                <div class="card h-100 zoom">
                    <img class="card-img-top-list" src="{{animal.imagen.url}}" alt="..." />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{animal.nombre}}</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>  
    {% endfor %}    
</div>    
{% endblock %}