{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<h1 class="card-title">About Us</h1>
<div class="row gx-2 gx-lg-2 align-items-center my-2"></div>

<p class="lead">Hola Mascoteros!! Somos dos hermanos entusiastas de la informática y amantes de los animales, y hemos creado este sitio web como proyecto final del curso de Python (comisión 34660).</p>
</br>
<p class="lead">Nuestro objetivo con este portal es crear un espacio donde los amantes de los animales puedan encontrar información interesante y útil sobre sus mascotas, y también descubrir nuevos hechos sorprendentes sobre las diversas criaturas que habitan nuestro planeta.</p>
</br>
<p class="lead">En nuestra página web, encontrará una variedad de secciones dedicadas a diferentes razas de perros y gatos, establecimientos que ofrecen servicios útiles para nuestros amigos de cuatro patas y productos para que puedan llevar una vida saludable y equilibrada.</p>

<div class="row gx-2 gx-lg-2 align-items-center my-2"></div>
<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
    <div class="col mb-5">
        <div class="card h-100">
            <img class="card-img-top-list" src="{% static 'Mascoteros/images/about_julian.jpeg' %}" alt="..." />
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">Julián</h5>
                    <a href="https://www.linkedin.com/in/juliandtrejo/" target="_blank" class="fa fa-linkedin-square"></a>
                </div>
            </div>
        </div>
    </div> 
    <div class="col mb-5">
        <div class="card h-100">
            <img class="card-img-top-list" src="{% static 'Mascoteros/images/about_martin.png' %}" alt="..." />
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">Martín</h5>
                    <a href="https://www.linkedin.com/in/trejomartin/" class="fa fa-linkedin-square" target="_blank"></a>
                </div>
            </div>
        </div>
    </div> 
</div> 

{% endblock %}