{% extends "Mascoteros/parent.html" %}
{% load static %}
{% block contenidoDinamico %}

<div class="row gx-4 gx-lg-5">
    <div class="col-md-4 mb-5">
        <div class="card h-100 zoom-home">
            <a href="{% url 'AnimalesLista' %}">
                <div class="card-body">
                    <h2 class="card-title">Animales</h2>
                    <img class="card-img-top"  src="{% static 'Mascoteros/images/portada_animales.svg' %}" alt="Card image cap">
                  </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100 zoom-home">
            <a href="{% url 'EstablecimientosLista' %}">
                <div class="card-body">
                    <h2 class="card-title">Establecimientos</h2>
                    <img class="card-img-top" src="{% static 'Mascoteros/images/portada_establecimientos.svg' %}" alt="Card image cap">
                   </div>
            </a>
        </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100 zoom-home">
            <a href="{% url 'ProductosLista' %}">
                <div class="card-body">
                    <h2 class="card-title">Productos</h2>
                    <img class="card-img-top" src="{% static 'Mascoteros/images/portada_articulos.svg' %}" alt="Card image cap">
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}